@use "./variables" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  line-height: $base-line-height;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-top: $navbar-height-mobile;
  font-family: 'Inter Tight', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;

  @media (min-width: $desktop-breakpoint) {
    padding-top: $navbar-height-desktop;
  }
}

h1 {
  font-size: 2em;
  font-weight: 100;
  margin: 0;
}

h2 {
  font-size: 1.7em;
  font-weight: 300;
}

h3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
}

h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: $text-color;
  text-decoration: none;
  transition: color 150ms linear;
  &:active {
    color: $third-color;
  }
}


li,
ul {
  list-style: none;
  padding:0;
  margin: 0;
}


img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

main {
  min-height: 100vh;
  padding: 0 5%;
}

.container {
  padding: 0 5%;
}


.is-style-headline {
  margin: 2em 1em;
  padding: 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}


#page-headline {
  font-weight: 200;
  letter-spacing: 6px;
  text-shadow: 6px 3px #d2d2d294;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 2em auto;
  span {
    border-bottom: 1px solid black;
    padding-bottom: 0.1em;
  }
}