@use "./variables" as *;
@use "./mixins" as *;

.teaser-btn {
  position: absolute;
  left: 50%;
  top: 740px;
  transform: translateX(-50%);
  @media screen and (min-width: $small-tablet-breakpoint) {
    top: 100%;
  }
  a {
    display: block;
    min-width: 180px;
    text-align: center;
    padding: .8em 1em;
    border: 1px solid #919191;
    z-index: 1;
    &::before {
      display: block;
      content: "";
      background-color: $text-color;
      height: 100%;
      width: 0;
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      pointer-events: none;
      transition: all ease-in-out 250ms;
    }
    &:hover {
      color: $contrast-color;
      box-shadow: 0 0 3px black;
    }
    &:hover::before {
      left: 0;
      width: 100%;
    }
  }
}

.about-me-teaser .teaser-btn {
  position: static;
  transform: translateX(0);
  @media screen and (min-width: $small-tablet-breakpoint) {
    max-width: 200px;
    margin: 0 auto;
  }
}

#to-top {
  height: 80px;
  width: 80px;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  background-color: $text-color;
  color: $contrast-color;
  padding: 1.3rem 1.8em;
  border-radius: 3rem;
  font-size: 0.8em;
  border: solid $contrast-color 1px;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  transition: opacity 150ms ease-in;
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    border-radius: 50px;
    z-index: -1;
    transition: all 100ms linear;
  }
  &:hover {
    transform: translateY(-.5em);
    color: $text-color;
    border: $text-color 1px solid;
  }
  &:hover::after {
    background-color: $contrast-color;
    height: 100%;
  }

}


#to-top.show {
  opacity: 1;
  pointer-events: auto;
}