@use "./variables" as *;
@use "./mixins" as *;

#footer-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $text-color;
  color: $contrast-color;
  padding: 3em 0;
  margin-top: 8em;
  font-weight: 100;
  @media screen and (min-width: $desktop-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    height: $navbar-height-desktop;
    padding: 0 5%;
    font-size: 1.2em;
    margin-top: 10em;
  }
}

#nav-footer {
  text-align: center;
  @media screen and (min-width: $desktop-breakpoint) {
    text-align: left;
  }

  .nav-menu li {
    @media screen and (min-width: $desktop-breakpoint) {
      padding-right: 1em;
    }
  }

  a {
    color: $contrast-color;

    &:hover {
      color: #8f8f8f;
    }
  }

  ul {
    @media screen and (min-width: $desktop-breakpoint) {
      display: flex;
      li {
        padding-right: 1em;
      }
    }
  }
}

.nav-menu {
  @media screen and (min-width: $desktop-breakpoint) {
    display: flex;
  }
}

.social-icons {
  font-size: 1.5em;
  margin:  .4em 0;
  a {
    padding: 0 .3em;
    color: #f0f0f0;
    &:hover {
      color: #8f8f8f;
    }
  }
}