@use "./variables" as *;

@mixin imgCover {
  object-fit: cover;
  height: 100%;
}

@mixin topBottomRightLeft($top, $bottom, $left, $right) {
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin headline($font-size, $color) {
  font-size: $font-size;
  color: $color;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 200;
}

@mixin dynamicUnderline($width) {
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: $width;
    top: 85%;
    background-color: $contrast-color;
    transition: width 300ms ease-in;
    @media screen and (min-width: $desktop-breakpoint) {
      top: 70%;
    }
  }
  &::before {
    left: 50%;
  }
  &::after {
    right: 50%;
  }
}

@mixin btn-hover-effect {
  &::before {
    display: block;
    content: "";
    background-color: $text-color;
    height: 100%;
    width: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    pointer-events: none;
    transition: all ease-in-out 250ms;
  }

  &:hover {
    color: $contrast-color;
    box-shadow: 0 0 3px black;
  }

  &:hover::before {
    left: 0;
    width: 100%;
  }
}