@use "./variables" as *;
@use "./mixins" as *;

#brand {
  height: calc($navbar-height-mobile / 1.5);
  width: calc($navbar-height-mobile / 1.5);
  @media (min-width: $desktop-breakpoint) {
    height: calc($navbar-height-mobile / 1.1);
    width: calc($navbar-height-mobile / 1.1);
  }
  img {
    height: 100%;
    filter: invert(100%);
  }
}

#nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $background-color;
  z-index: 1000;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height-mobile;
    @media screen and (min-width: $desktop-breakpoint) {
      height: $navbar-height-desktop;
    }
  }
}

#nav-main {
  position: fixed;
  @include topBottomRightLeft($navbar-height-mobile, 0, 0, 0);
  background-color: $background-color;
  margin: 0;
  padding: 25% 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease-in;
  overflow-y: auto;
  @media screen and (orientation:landscape) {
    padding: 0;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    position: static;
    flex-direction: row;
    opacity: 1;
    pointer-events: all;
    overflow-y: visible;
    padding: 0;
    background-color: transparent;
  }
  a {
    padding: .3em 1em;
    position: relative;
    @include dynamicUnderline(0);
    @media screen and (min-width: $desktop-breakpoint) {
      padding: 38px .7em;
      margin: 0 .6em;
    }
    &:hover {
      &::before,
      &::after {
        width: 50%;
      }
    }
  }
  > li > a {
    @include headline(1.5em, white);
    line-height: 2.5em;
    @media screen and (min-width: $desktop-breakpoint) {
      @include headline(1.3em, white);
    }
  }
  li {
    position: relative;
    @media screen and (min-width: $desktop-breakpoint){
    &:hover > .sub-menu {
      display: block;
      opacity: 1;
      pointer-events: auto;
      transform: translate(-50%, -18%);
      }
    }
  }
  .sub-menu a {
    @include headline(1em, white);
    line-height: 1.3em;
    text-transform: capitalize;
    display: inline-block;
    padding: 1em;
    @media screen and (min-width: $desktop-breakpoint) {
      display: block;
    }
  }
  .sub-menu {
    transform: translateY(-.5em);
    @media screen and (min-width: $desktop-breakpoint) {
      display: none;
      background-color: black;
      position: absolute;
      left: 50%;
      top: 100px;
      transform: translate(-50%, -118%);
      padding: 1em 0;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      opacity: 0;
      pointer-events: none;
    }
  }

  .current-menu-item,
  .current-menu-parent,
  .current_page_parent {
    position: relative;
    > a {
      @include dynamicUnderline(50%);
    }
  }
}