@use "./variables" as *;
@use "./mixins" as *;

.preview {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10em 5%;
  flex-direction: column;
  @media screen and (min-width: $small-tablet-breakpoint) {
  flex-direction: row;
  }
}


.gallery-teaser {
  div[class^='img']{
    height: 200px;
    width: 200px;
    margin-bottom: 1.5em;
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  @media screen and (min-width: $tablet-breakpoint) {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 15px;
    div[class^='img']{
      height: auto;
      width: auto;
      margin-bottom: 0;
    }
    .img1 {
      grid-area: 1/1/3/3;
    }
    .img2 {
      grid-area: 3/1/3/3;
    }
    .img3 {
      grid-area: 1/3/4/4;
    }
  }
  @media screen and (min-width: $desktop-breakpoint) {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
  }

}


.teaser-content {
  order: -1;
  position: relative;
  padding: 1em 0.5em 1.5em;
  min-width: 200px;
  @media screen and (min-width: $small-tablet-breakpoint) {
    order: 1;
  }
  .teaser-headline {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 300;
    @media screen and (min-width: $small-tablet-breakpoint) {
      font-size: 1.5em;
    }
  }
  @media screen and (min-width: $desktop-breakpoint) {
    margin-right: 10%;
  }
}


.txt-position-left {
  .teaser-content {
    @media screen and (min-width: $small-tablet-breakpoint) {
      order: -1;
    }
    @media screen and (min-width: $desktop-breakpoint) {
      margin-right: 0;
      margin-left: 10%;
    }
  }
}

.txt-position-right {
  .gallery-teaser {
    @media screen and (min-width: $tablet-breakpoint){
      .img1 {
        grid-area: 1/1/2/4;
      }
      .img2 {
        grid-area: 2/1/4/3;
      }
      .img3 {
        grid-area: 2/3/4/4;
      }
    }
  }
}