@use "./variables" as *;

#single-post {
  width: 85%;
  margin: 2em auto;
  @media screen and (min-width: $desktop-breakpoint) {
    width: 75%;
  }

  .meta-data::before {
    display: none;
  }
}

#single-post-page {
  #page-headline {
    font-size: 1.2em;
    @media screen and (min-width: $small-tablet-breakpoint) {
      font-size: 2em ;
    }
  }
  .teaser-btn {
    position: static;
    width: fit-content;
    margin: 2em auto 0 ;
    transform: translateX(0);
  }
}