
$text-color: #000;
$contrast-color: #ffffff;
$third-color: #5b5b5b;
$background-color: #101010;

$base-font-size: 16px;
$base-line-height: 1.4;
$navbar-height-mobile: 65px;
$navbar-height-desktop: 100px;

$small-tablet-breakpoint: 650px;
$tablet-breakpoint: 800px;
$desktop-breakpoint: 1200px;
$biggest-breakpoint: 1400px;

$admin-bar-mobile: 46px;
$admin-bar-desktop: 32px;

$grid-gap: 30px;
$grid-image-height-tablet: 200px;
$grid-image-height-desktop: 350px;